.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-image {
  width: 200px;
  object-fit: cover;
}
.home-link {
  top: 303px;
  left: 551px;
  width: 92px;
  height: 50px;
  position: absolute;
  padding-left: 0px;
  text-decoration: none;
}
.home-link1 {
  top: 304px;
  left: 715px;
  width: 96px;
  height: 52px;
  position: absolute;
  align-self: center;
  padding-bottom: 0px;
  text-decoration: none;
}
