.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-image {
  right: -36px;
  width: 100%;
  bottom: -408px;
  height: 100%;
  position: absolute;
  object-fit: cover;
  margin-right: 36px;
  margin-bottom: 412px;
}
.home-link {
  top: 311px;
  left: 0px;
  color: #ffffff;
  right: 0px;
  width: 92px;
  height: 50px;
  margin: auto;
  display: flex;
  position: absolute;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  border-color: rgba(255, 255, 255, 0.01);
  padding-left: 0px;
  justify-content: flex-start;
  text-decoration: none;
  background-color: #4be784;
}
.home-text {
  font-family: Arial Black;
}
.home-link1 {
  top: 387px;
  left: 0px;
  color: #ffffff;
  right: 0px;
  width: 96px;
  height: 50px;
  margin: auto;
  position: absolute;
  align-self: center;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  text-decoration: none;
  background-color: #4be784;
}
.home-text04 {
  color: #ffffff;
  font-family: Arial Black;
}
.home-text09 {
  top: 209px;
  left: 602px;
  color: #fffefe;
  position: absolute;
  font-family: Arial Black;
}
.home-image1 {
  top: 4px;
  left: 0px;
  right: 0px;
  width: 200px;
  margin: auto;
  position: absolute;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  object-fit: cover;
}
